_book/
_bookdown_files/
**/*.html
!**/mathjax_header.html
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect
.DS_Store
Designing-Simulations-in-R.Rmd
Designing-Simulations-in-R.pdf
Designing-Simulations-in-R.tex
Designing-Simulations-in-R.log
Designing-Simulations-in-R.Rproj
Designing-Simulations-in-R_cache/
Designing-Simulations-in-R_files/
.texpadtmp/
OLD/
luke_scratch/
docs/
