_book/
.Rproj.user
.Rhistory
.RData
_bookdown_files
rsconnect
.DS_Store
Designing-Simulations-in-R.log
Designing-Simulations-in-R.Rproj
Designing-Simulations-in-R_cache/*
Designing-Simulations-in-R_files/*
.texpadtmp/
OLD/
luke_scratch/
docs/*
